Package: ouija
Version: 1.0-1
Section: base
Priority: optional
Architecture: all
Depends: cups (>= 2.4.2)
Description: Package to set up print server for Seance.
 Installs and configures cups,
 sets up communication with parallel port "printers".
 